*{
	-webkit-user-select: none;
}
body{
	background-image: url(https://avatanplus.com/files/resources/original/599aa06e999df15e0402b025.jpg);
	background-size: 100%;
}
#body{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: center;
}
#lang{
	left: 3.5%;
}
header{
	margin-bottom: 10px;
}
li{
	list-style: none;
	background: white;
	color: black;
	display: none;
	position: absolute;
	top: 50px;
	left: 41px;
	cursor: pointer;
}
li, h4{
	font-size: 3vw;
}
h4, #arandzinimg{
	position: absolute;
	top: 20px;
}
h4{
	background: white;
	color: black;
	margin: 0;
}

#arandzinimg{
	width: 3%;
	transform: rotate(180deg);
	box-shadow: none;
	cursor: pointer;
	left: 3.5%;
}
#arandzindiv h2{
	cursor: pointer;
}
#body div{
	width: 20%;
	height: 5%;
	padding: auto;
	text-align: center;
	padding: 10px;
	border: 1px solid black;
	margin-bottom: 1%;
	margin-right: 1%;
	box-sizing: border-box;

}
img{
	width: 100%;
	transition: 1s;
}
img:hover{
	border-radius: 50%; 
	box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
a{
	text-decoration: none;
	transition: 1s;
	color: black;
}
h3{
	height: 15px;
	font-size: 20px;
}
button{
	background: white;
	color: black;
}
#het{
	width: 20px;
	height: 20px;
	cursor: pointer;
	display: none;
	position: fixed;
	z-index: 10;
	right: 8px;
	transform: rotate(180deg);
	box-shadow: none;
}
@media (max-width: 610px){
	h3{
		font-size: 10px;
	}
	h2{
		font-size: 18px;
	}
	button, a{
		width: 70%;
		font-size: 70%;
	}
}
#arandzindiv{
	width: 100%;
	border: none;
	display: flex;
	justify-content: space-evenly;
}
/*
#tabat{
	z-index: 2;
}*/
.pere{
	width: 20px;
	position: fixed;
	right: 20px;
	bottom: 20px;
}

.arandzin_h2{
	padding:10px;
}
#ereqg{
	box-shadow: none;
	width: 20px;
	height: 20px;
	cursor: pointer;
	border-radius: 0;
	display: none;
}

#bacel-menu{
	transition: 2s;
	right: 0px;
	top: 0px;
	display: none;
	background: red;
	z-index: 5;
	width: 0%;
	height: 100%;
}
/*@media (min-width: 411px) {
		#arandzin_h2{
			display: block;
		}
}*/
@media (max-width: 411px) {
	.arandzin_h2{
		padding:3px;
		position: fixed;
		display: none;
		right: -15%;
		transform: translate(50%, -50%);
		transition: 2s;
		z-index: 6;
		font-size : 26px
	}
	#ereqg{
		position: absolute;
		right: 8px;
		display: block;
	}
	#arandzindiv{
		justify-content: end;
	}
	#arandzinimg{
		/*left: 2%;
		top: 36px;*/
		left: 1%;
		top: 34px;
	}
	#li, h4{
		font-size: 2.5vw;
	}
	#lang{
		left: 0.5%;
	}
	.arandzin_h2, #bacel-menu{
		position: fixed;
	}
}